@model ErrorViewModel
@{
    ViewData["Title"] = "Error- Not Found";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
   
   <style>
        p {font-size: 40px;}
        h1 {font-size: 72px;}
   </style>
</head>
<body>

        <h1><strong>Error 404- Not found</strong></h1>
        <p>The requested resource could not be found. Please try again later.</p>

</body>
</html>




