@model List<FairShare.Models.Payment>

@{
    ViewData["Title"] = "User Payments History";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link href="~/css/styles.css" rel="stylesheet" />

</head>
<body>
    <header class="masthead">
        <div class="container">
            <div class="masthead-heading text-uppercase" style="color: #A78B6D; margin-top: 10px;">User Payments History</div>
        </div>
        @if (Model != null && Model.Count > 0)
        {
            <div class="container">
                @foreach(var payment in Model)
                {
                    <div class="row">
                        <div class="col-12">
                            <div class="list-group">
                                <div class="list-group-item"> 
                                    <h5 class="mb-1">
                                        <p class="mb-1">Payer: @payment.UsernamePayer</p>
                                    </h5>
                                    <p class="mb-1">Date: @payment.Date.ToString("dd-MM-yyyy")</p>
                                    <p class="mb-1">Amount: @payment.Amount</p>
                                </div>           
                            </div>
                        </div>
                    </div>
                }
            </div>
        } else {
            <p>No payments found for this user.</p>
        }
    </header>
</body>